<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.pde.build"
   name="%pluginName"
   version="2.1.3"
   provider-name="%providerName">

   <runtime>
      <library name="pdebuild.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.update.core"/>
   </requires>


<!-- Tasks -->
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="lib/pdebuild-ant.jar"
            name="eclipse.fetch"
            class="org.eclipse.pde.internal.build.tasks.FetchTask">
      </antTask>
      <antTask
            library="lib/pdebuild-ant.jar"
            name="eclipse.buildScript"
            class="org.eclipse.pde.internal.build.tasks.BuildScriptGeneratorTask">
      </antTask>
      <antTask
            library="lib/pdebuild-ant.jar"
            name="eclipse.buildManifest"
            class="org.eclipse.pde.internal.build.tasks.BuildManifestTask">
      </antTask>
   </extension>

</plugin>
